RewriteEngine On

RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/style\.css$
RewriteCond %{REQUEST_URI} !^/logo\.png$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

php_value upload_max_filesize 10M
php_value post_max_size 10M
